
*{
  box-sizing: border-box;
}

.input[type="text"]:focus {
  outline: 0 none;
}

input[type="date"]:not(.has-value):before{
  color: lightgray;
  content: attr(placeholder);
  
}

.modal-body {
  padding: 0;
}

.list-group {
  border-radius: 0;
}

.form-control::-webkit-input-placeholder {
  color: lightgray;
}

#modal-button {
  font-size: 16px;
  border-radius: 35% 0%;
  padding: 0px 3px;
  background-color: rgba(128, 128, 128, 0.5);
  transition: font-size 0.15s linear;
}

#modal-button:hover {
  font-size: 20px;
  border-radius: 24% 0%;
  background-color: rgba(128, 128, 128, 0.7);
}

.hidden {
  display: none;
}

li:hover {
  background-color: lightgrey;
}

.map-select {
  height: 600px;
}

.map {
  height: 100px;
}

.map-modal-wrap {
  height: 400px;
}

#map-modal {
  height: 400px;
}

.rate {
  font-size: 1.5rem;
  color: #ffc700;
  cursor: pointer;
}

.rate-input {
  cursor: pointer;
}

.pin {
  width: 1.5em;
  height: 1.5em;
  top: 3px;
  right: 3px;
}