*{
  box-sizing: border-box;
}


section {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 기본  */
#container-posts{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  column-gap: 5px;
  row-gap: 10px;
}

/* 576px 이상 768이하 => 부트스트랩 sm */
@media all and (max-width: 768px){
  #container-posts {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }
}

/* 768px 이상 1024이하 => 부트스트랩 md */
@media all and (min-width:768px) and (max-width:1024px) {
  #container-posts {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }
}

/* 1025px 이상 => 부트스트랩 lg */
@media all and (min-width:1025px) {
  #container-posts {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }
}



.card-user{
  display: flex;
  flex-wrap: nowrap;
}

.username{
  margin-left: 0.5em;
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  height: 20em;
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 5px;
  margin: auto;
  margin-bottom: 30px;
  transition: all 0.5s;
  transition-delay: 0.4s;
}

.card-img-top{
  height: 200px;
  object-fit: fill;
}

.card-top-info-container{
  position: absolute;
  top : 0;
  background: none;
  border: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.363);
}

.card-top-info{
  align-items: center;
  
}


.card-bottom-info{
  position: absolute;
  width: 100%;
  bottom: 0;
  
  background: none;
  border: none;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.363);
}

.card-bottom-hidden{
  visibility: hidden
}

.place{
  background-color: green;
  border-radius: 1em;
  font-size: 0.8em;
  color: white;
  margin-bottom: 0;
}

.bi-star-fill{
  color: gold;
}

.bi-chat-dots-fill{
  color: white;
}

.mark-text{
  font-weight: 500;
  color: white;
  margin-right: 0.5em;
}

.post-date{
  font-size: 0.8em;
  color: grey;
  text-align: right;
}

.user-profile:not(.post.image){
  width: 1.5em;
  height: 1.5em;
}

.main-img {
  width: 100%;
  height: 10em;
  object-fit: fill;
}

.viewed-order{
  display: flex;
}

.viewed-order-buttons{
  margin-left: auto;
}

.hidden {
  display: none;
}


.new-post{
  text-align:right;
  margin-bottom: 1em;
}


.bi-heart-fill{
  color: red;
}

.bi-heart{
  color: white;
}

/* .region-button {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}


.region-list {
  display: none;
  position: absolute;
  z-index: 1;
}


.region-list li {
  display: block;
}


.region-button:hover .region-list {
  display: block;
} */