
a {
  cursor: pointer;
}
p {
  margin: 0;
}
hr {
  margin: 0;
}

/* atticle layout & title style */
.main--article--container {
  max-width: ;
  margin: auto;
}
.article--title--wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 20px;
}
.article--title {
  border: 1px solid #cccccc;
  border-bottom: 0px;
  border-radius: 10px 10px 0 0;
  background-color: #198754;
  padding: 0.1rem 1rem;
  margin: 0;
}
.article--title:hover {
  background-color: #28a745;
}
.article--list {
  border: 1px solid #cccccc;
  border-bottom: 0px;
  border-radius: 10px 10px 0 0;
  background-color: #ffc107;
  padding: 0.1rem 1rem;
}
.article--list:hover {
  background-color: #ffcf3d;
}

/* index & taggit table style */
.article--table {
  text-align:center;
}
.article--title--wrap{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.profile--image {
  border: 1px solid gray;
  border-radius: 5px;
  width: 25px;
}


/* all card style */
.card--style--wrap {
  border: 1px solid #cccccc;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px rgba(204,204,204, .5);
  padding: 1rem;
  margin-bottom: 1rem;
}
.card--style--wrap:hover {
  box-shadow: 5px 5px 0px 0px rgba(40,167,69, .2);
}

/* taggit style */
.tag--box {
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 2px rgba(204,204,204, .5);
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.2rem;
}

/* color */
.warning--color {
  color: #ffc107;
}
.danger--color {
  color: #dc3545;
}
.success--color {
  color: #198754;
}
.secondary--color {
  color: #6c757d;
}
.secondary--color:hover {
  color: #dc3545;
}


/* hover */
/* underline */
.success--underline{
  text-decoration: underline #28a745;
}
.success--underline:hover {
  text-decoration: green wavy underline;
}
.primary--underline {
  text-decoration: underline #007bff;
}
.primary--underline:hover {
  text-decoration: wavy underline #007bff;
}
.danger--underline {
  text-decoration: underline #dc3545;
}
.danger--underline:hover {
  text-decoration: wavy underline #dc3545;
}
.warning--underline:hover {
  text-decoration: underline #ffc107;
}
.warning--underline:hover {
  text-decoration: wavy underline #ffc107;
}
/* shadow */
.comment--card:hover {
  box-shadow: 5px 5px 0px 0px rgba(40,167,69, .2);
}
.comment--create:hover {
  box-shadow: 5px 5px 0px 0px rgba(40,167,69, .2);
}



/* flex */
.form--wrap--flex {
  display: flex;
}