{% extends 'base.html' %}
{% load socialaccount %}
{% block style %}
<style>
</style>
{% endblock style %}

{% block content %}
  <article>
    <section class="main--form--wrap">
      <h1>log in</h1>
      <form class="d-grid" action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="log in" class="btn btn-success">
      </form>
    </section>
    <a href="{% provider_login_url 'kakao' method='oauth2' %}">
      카카오톡 회원가입
    </a>
  </article>
{% endblock content %}
{% block javascript %}
{% endblock javascript %}