{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block style %}
<link rel="stylesheet" href="{% static 'style/accounts/login.css' %}">
<style>
</style>
{% endblock style %}

{% block content %}
{% load static %}
  <article class="main--article--container">
    <section class="section--form--wrap">
      <div class="main--login">
        <img class="" src="{% static 'img/triptopper_c_logo_01.png' %}" alt="image">
      </div>
      <h2>Log in</h2>
      <form class="d-grid" action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="log in" class="btn btn-success">
      </form>
    </section>
    <hr>
    <section class="d-grid">
      <a  type="button" class="btn btn-warning" href="{% provider_login_url 'kakao' method='oauth2' %}">
        KakaoTalk Sign up
      </a>
    </section>
  </article>
{% endblock content %}
{% block javascript %}
{% endblock javascript %}