{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'style/accounts/login.css' %}">
<link rel="stylesheet" href="{% static 'style/articles/common.css' %}">
{% endblock header %}


{% block content %}
<article class="main--article--container">
  <section class="section--form--wrap">
    <div class="main--login">
      <img class="" src="{% static 'img/triptopper_c_logo_01.png' %}" alt="image">
    </div>
    <hr>
    <h2>비밀번호 변경</h2>
    <form action="{% url 'accounts:change_password' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      {{ form.non_field_errors }}
      <div class="d-grid">
        <button type="submit" class="btn btn-success">등록</button>
      </div>
    </form>
  </section>
</article>
{% endblock content %}