{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
  h1 {text-align: center; margin-bottom: 1rem;}
  {% comment %} User profile Card {% endcomment %}
  .profile--user--container {
    max-width: 850px;
    border: 1px solid #aaaaaa;
    border-radius: 20px;
    margin: auto;
    padding: 2.5rem;
    box-shadow: 2px 2px 15px 3px rgba(50, 50, 50, .1);
  }
  .profile--user--wrap {
    display: flex;
    justify-content: space-between;
  }
  .profile--image--wrap {
    width: 50%;
    font-size: 200px;
    text-align: center;
    background-color: #eeeeee;
    margin-right: 2rem;
    border-radius: 20px;
  }
  .profile--image--wrap img {
   width: 100%; 
   border-radius: 20px;
  }
  .profile--info--wrap {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .profile--info--wrap li{
    display: flex;
    justify-content: space-between;
  }
  .profile--update--wrap {
    margin-top: 1.5rem;
  }
  @media screen and (max-width: 850px) {
    .profile--user--wrap {
      display: block;
    }
  }
  .profile--image--wrap {
    width: 100%;
  }
  .profile--info--wrap {
    width: 100%;
    margin-top: 2rem;
  }
  {% comment %} Posts {% endcomment %}
  .profile--posts--container{
    margin: 3rem 0;
  }
  {% comment %} Articles : Community {% endcomment %}
</style>
{% endblock style %}

{% block content %}
<article>
  <h1>{{ person }}님의 Profile</h1>
  <section class="profile--user--container">
    <div class="profile--user--wrap">
      <div class="profile--image--wrap">
        {% if person.profile_image %}
        <img src="{{ person.profile_image.url }}" alt="profile-image">
        {% else %}
        <i class="bi bi-person-circle"></i>
        {% endif %}    
      </div>
      <div class="profile--info--wrap">
        <ul class="profile--info">
          <li>
            <p>ID</p>
            <p>{{ person.username }}</p>
          </li>
          <li>
            <p>FIRST NAME</p>
            <p>{{ person.first_name }}</p>
          </li>
          <li>
            <p>LAST NAME</p>
            <p>{{ person.last_name }}</p>
          </li>
          <li>
            <p>MBTI</p>
            <p>{{ person.mbti }}</p>
            </li>
          <li>
            <p>BIRTHDAY</p>
            <p>{{ person.birthday }}</p>
            </li>
          <li>
            <p>E-MIL</p>
            <p>{{ person.email }}</p>
            </li>
          <li>
            <p>Following </p>
            <p id="followings-count">  {{person.following.all|length}} </p>
            <p>Follower </p>
            <p id="followers-count"> {{person.followers.all|length}}</p>
            </li>
        </ul>

      </div>
    </div>
    <div class="d-grid profile--update--wrap">
      <a class="btn btn-success " type="button" href="{% url 'accounts:update'%}">profile 수정</a>
    </div>
    <div>
      {% if request.user != person %}
        <form id='follow-form' data-user-id="{{ person.pk }}">
          {% csrf_token %}
          {% if request.user in person.followers.all %}         
            <input type="submit" value="Unfollow" class="btn btn-success"> 
            {% else %}
            <input type="submit" value="Follow" class="btn btn-success w-100 mt-3"> 
          {% endif %}
        </form>
      {% endif %} 
    </div>
  </section>
  <section class="profile--posts--container">
    <h3>Posts</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">제목</th>
          <th scope="col">글쓴이</th>
          <th scope="col">작성시간</th>
          <th scope="col">조회수</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for post in posts %}
        <tr>
          <th scope="row">{{ post.pk }}</th>
          <td><a href="{% url 'posts:detail' post.pk %}">{{ post.title }}</a></td>
          <td>{{ post.user }}</td>
          <td>{{ post.created_at }}</td>
          <td>{{ post.views.all|length }}</td>
        </tr>
        {% endfor %}
      </tbody>    
    </table>
  </section>
  <section class="profile--articles--container">
    <h3>Community</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">제목</th>
          <th scope="col">글쓴이</th>
          <th scope="col">작성시간</th>
          <th scope="col">조회수</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for article in articles %}
        <tr>
          <th scope="row">{{ article.pk }}</th>
          <td><a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></td>
          <td>{{ article.user }}</td>
          <td>{{ article.created_at }}</td>
          <td>{{ article.views.all|length }}</td>
        </tr>
        {% endfor %}
      </tbody>    
    </table>
  </section>
  <section class="profile--articles--container">
    <h3>Bookmark</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">제목</th>
          <th scope="col">글쓴이</th>
          <th scope="col">작성시간</th>
          <th scope="col">조회수</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for article in person.bookmark_articles.all %}
        <tr>
          <th scope="row">{{ article.pk }}</th>
          <td><a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a></td>
          <td>{{ article.user }}</td>
          <td>{{ article.created_at }}</td>
          <td>{{ article.views.all|length }}</td>
        </tr>
        {% endfor %}
        {% for post in person.bookmark_posts.all %}
        <tr>
          <th scope="row">{{ post.pk }}</th>
          <td><a href="{% url 'posts:detail' post.pk %}">{{ post.title }}</a></td>
          <td>{{ post.user }}</td>
          <td>{{ post.created_at }}</td>
          <td>{{ post.views.all|length }}</td>
        </tr>
        {% endfor %}
      </tbody>    
    </table>
  </section>

</article>
{% endblock content %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/accounts-profile.js' %}"></script>
{% endblock javascript %}