{% extends 'base.html' %}

{% block style %}
<style>
  .main--article--container{
    flex-direction: column;
    padding: 30px 0;
  }
  .main--login {
    display: flex;
    justify-content: center;
  }
  h2 {
    text-align: center;
  }
</style>
{% endblock style %}

{% block content %}
{% load static %}
    <article class="main--article--container">
      <section class="section--form--wrap">
        <div class="main--login">
          <img class="" src="{% static 'img/triptopper_c_logo_01.png' %}" alt="image">
        </div>
        <h2>Sign up</h2>
        <form class="d-grid" action="{% url 'accounts:signup' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
          <input type="submit" value="sign up" class="btn btn-success">
        </form>
      </section>
      <hr>
      <section class="d-grid">
        <a  type="button" class="btn btn-warning" href="#">
          KakaoTalk Sign up
        </a>
      </section>
    </article>
{% endblock content %}