{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'style/articles/create.css' %}">

<style>

</style>
{% endblock style %}

{% block content %}
<article class="main--article--container">
  <div class="article--title--wrap">
    <h3 class="article--title">Community</h3>
    <a class="article--list" href="{% url 'articles:index' %}">list</a>
  </div>
  <div class="card--style--wrap">
    <form action="{% url 'articles:create' %}" method="POST" enctype='multipart/form-data'>
      {% csrf_token %}
      {{ form.as_p }}
      {{ imageform.as_p }}
      {% comment %} {% for field in form %}
        {{field}} <br />
      {% endfor %}
      {% for form in imageform %}
        {{form}}
      {% endfor %} {% endcomment %}
      <div class="d-grid">
        <input class="btn btn-success " type="submit" value="등록"></div>
    </form>
  </div> 
</article>

{% endblock content %}