{% extends "base.html" %}
{% load static %}
{% block content %}

<article class="main--article--container">
  <p>title</p>
  {{article.title}}
  <p>user</p>
  {{article.user}}
  <p>content</p>
  {{article.content}}
  {% for image in article.articleimage_set.all %}
    <img src="{{image.image.url}}" alt="img">
  {% endfor %}
  {% comment %} <p>tag</p>
  {% for tag in article.tags.all %}
    {{ tag }}
  {% endfor %} {% endcomment %}

  <br>
    <div>
        <b>TAGS</b><br>
        {% load taggit_templatetags2_tags %} 
       {% get_tags_for_object article as "tags" %}
        {% for tag in tags %}
        <a href="{% url 'articles:tagged_object_list' tag.name %}">{{tag.name}}</a>
        {% endfor %} 

    </div>

  <form class='like_forms' data-article-id="{{ article.pk }}">
    {% csrf_token %}
    {% if request.user in article.like_users.all %}
    <input type="submit" value='싫어요' id='like-{{ article.pk }}'>
    {% else %}
    <input type="submit" value='좋아요' id='like-{{ article.pk }}'>
    {% endif %}
  </form>

  <p id='likes-count'> {{ article.like_users.all|length }} </p>

  <h4 class="mt-5">댓글 ({{ comments.all|length }})</h4>
    
  

  <form class='bookmark_forms'  data-article-id="{{ article.pk }}">
    {% csrf_token %}
    {% if request.user in article.bookmark_user.all %}
      <input type="submit" value='bookmark 취소' id='bookmark-{{article.pk}}'>
    {% else %}
      <input type="submit" value='bookmark' id='bookmark-{{article.pk}}'>
    {% endif %}
  </form>
  <p id='bookmark-count'> {{article.bookmark_user.all|length}} </p>



  <h3 class="mt-5">댓글
    {% if comments.all|length > 0 %}
      ({{ comments.all|length }})
    {% endif %}
    </h3>
    <form action="{% url 'articles:comment_create' article.pk %}" method="POST" id='comment_form'>
    {% csrf_token %}
    <div class="input-group mb-3">
      {{ comment_form.content }}
      <button id="comment-submit" type="submit" class="btn btn-outline-warning">댓글 작성</button>
    </div>
    </form>
    {% comment %} <form class="comment-form" id="comment_form">
    {% csrf_token %}
    <div class="input-group mb-3">
      {{ comment_form.content }}
      <button id="comment-submit" type="submit" class="btn btn-outline-warning">댓글 작성</button>
    </div>
    </form> {% endcomment %}

  <table class="table" id='comment_list'>
    {% for comment in comments %}
      <tbody>
        <tr class="border-bottom border-top border-dark-subtle">
          <td style="width: 20%;" class="table-active"><a href="{% url 'accounts:profile' comment.user.username %}" class="text-decoration-none text-dark">{{ comment.user }}</a></td>
          <td style="width: 65%;">{{ comment.content }}</td>
          <td style="width: 25%;" class="text-secondary comment-time">{{ comment.created_string }}</td>
          <td>

            <form class="comment_like_forms" id="like-form-{{comment.pk}}" data-article-id="{{article.pk}}" data-comment-id="{{comment.pk}}">
              {% csrf_token %}
              <input type="submit" value='공감' id='like-{{ comment.pk }}'
              {% if request.user in comment.dislike_user.all %} disabled {% endif %}>
            </form>
            <p id="r_likes_count_{{comment.pk}}"> {{comment.like_users.all|length}} </p>


            <form class="comment_dislike_forms" id="dislike-form-{{comment.pk}}" data-article-id="{{article.pk}}" data-comment-id="{{comment.pk}}">
              {% csrf_token %}
              <input type="submit" value='비공감' id='dislike-{{ comment.pk }}'
              {% if request.user in comment.like_users.all %} disabled {% endif %}>
            </form>
            <p id="dislikes_count_{{comment.pk}}"> {{ comment.dislike_user.all|length }} </p>

            </form>
            
          </td>
        </tr>
      </tbody>
    {% endfor %}

  </table>



  {% comment %} <form action="{% url 'articles:tag_add' article.pk %}">
    {% csrf_token %}
    {{tag_form.as_p}}
    <input type="submit">
  </form> {% endcomment %}
</article>
{% endblock content %}


{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static 'js/articles-detail.js' %}"></script>
  </script>
{% endblock javascript %}
