{% extends "base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'style/articles/detail.css' %}">
<link rel="stylesheet" href="{% static 'style/articles/common.css' %}">
{% endblock header %}

{% block content %}
<article class="main--article--container">
  <div class="article--title--wrap">
    <h3 class="article--title">
      <a href="{% url 'articles:index' %}">Community</a>
    </h3>
    <a class="article--list" href="{% url 'articles:tag_cloud' %}">Tag Cloud</a> 
  </div>
  <section class="board--container card--style--wrap">
    <div class="board--wrap">
      <div class="board--title--user--wrap" >
        <h3 class="board-title">{{ article.title }}</h3>
        <a href="{% url 'accounts:profile' article.user %}">
          <div class="success--underline">
            <div>
              <p class="board--user">
                <span>{{ article.user }}</span>
                <i class="board--mbti">{{ article.user.mbti }}</i>
              </p>
            </div>
            <div class="profile--image--wrap">
              {% if article.user.profile_image %}
              <img class="board--profile--image" src="{{ article.user.profile_image.url }}" alt="profile-image">
              {% else %}
              <img class="board--profile--image" src="{% static 'img/cat_01.png' %}" alt="profile">
              {% endif %}
            </div>
          </div>
        </a>
      </div>
      <hr>
      <div class="board--date--wrap">
        <p>{{ article.created_at }}</p>
        <i class="board--update--date">({{ article.updated_at }})</i>
      </div>
      <div class="board--content">{{ article.content }}</div>
      <div>
        {% for image in article.articleimage_set.all %}
          <img class="board--image--card" src="{{image.image.url}}" alt="img">
        {% endfor %}
      </div>
      <div class="tag--box--wrap">
        {% load taggit_templatetags2_tags %} 
        {% get_tags_for_object article as "tags" %}
        {% if tags %}
          {% for tag in tags %}
            {% if tag.name %}
            <a class="tag--box" href="{% url 'articles:tagged_object_list' tag.name %}">{{tag.name}}</a>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
      <div class="like--update--container">
        <div class="view--bookmark--like--wrap form--wrap--flex">
          <p>
            <i class="bi bi-eye-fill margin--right">
            {{ article.views.all|length }}</i>
          </p>
          <div class="form--wrap--flex margin--right">
            <form class='bookmark_forms'  data-article-id="{{ article.pk }}">
              {% csrf_token %}
              {% comment %}
              {% if request.user in article.bookmark_user.all %}
                <input type="submit" value='bookmark 취소' id='bookmark-{{article.pk}}'>
              {% else %}
                <button type="submit"><i class="bi bi-star-fill warning--icon"></i></button>
              {% endif %}
              {% endcomment %}
              <button type="submit" id='bookmark-{{article.pk}}>'<i class="bi bi-bookmark-fill success--color"></i></button>
            </form>
            <span id='bookmark-count'> {{article.bookmark_user.all|length}} </span>       
          </div>


          <div class="form--wrap--flex">
            <form class='like_forms' data-article-id="{{ article.pk }}">
              {% csrf_token %}
              {% comment %}
              {% if request.user in article.like_users.all %}
              <input type="submit" value='싫어요' id='like-{{ article.pk }}'>
              {% else %}
              <input type="submit" value='좋아요' id='like-{{ article.pk }}'>
              {% endif %}
              {% endcomment %}
              <button type="submit"  id='like-{{ article.pk }}'><i class="bi bi-heart-fill danger--color"></i></button>
            </form>
            <span id='likes-count'> {{ article.like_users.all|length }} </span>          
          </div>
        </div>
        {% if request.user == article.user %}
        <div class="update--delete--wrap">
          <a class="margin--right primary--underline" href="{% url 'articles:update' article.pk %}">Update</a>
          <a class="danger--underline" onclick="return confirm('게시글을 삭제하시겠습니까?')" href="{% url 'articles:delete' article.pk %}">Delete</a>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
  <section class="comment--container">
    <div>
      <div class="comment--title--wrap">
        <h5>Comment</h5>
        <div>
          {% if comments.all|length > 0 %}
          ( {{ comments.all|length }}  )
          {% endif %}
        </div>
      </div>
      <div>
        {% for comment in comments %}
        <div class="card--style--wrap card--style--wrap">
          <div class="comment--user--delete--wrap">
            <p>
              <a href="{% url 'accounts:profile' comment.user.username %}" class="text-decoration-none text-dark">
                <span class="comment--profile--image--wrap">
                  {% if comment.user.profile_image %}
                  <img class="comment--profile--image" src="{{ comment.user.profile_image.url }}" alt="profile-image">
                  {% else %}
                  <img src="{% static 'img/user_profile.png' %}" alt="profile">
                  {% endif %}
                </span>
                <span class="success--underline">{{ comment.user }}</span>
              </a>
            </p>
            <div>
              <i class="bi bi-x-lg secondary--color"></i>
            </div>
          </div>
          <hr>
          <div class="comment--content">{{ comment.content }}</div>
          <div class="comment--date--like--wrap">
            <div class="form--wrap--flex">
              <div class="margin--right"><i class="comment--date">{{ comment.created_string }}</i></div>
              <div class="form--wrap--flex margin--right">       
                <form class="comment_like_forms" id="like-form-{{comment.pk}}" data-article-id="{{article.pk}}" data-comment-id="{{comment.pk}}">
                  {% csrf_token %}
                  <button type="submit" id='like-{{ comment.pk }}' {% if request.user in comment.dislike_user.all %} disabled {% endif %}>
                    <i class="bi bi-hand-thumbs-up-fill warning--color"></i>
                  </button>
                </form>
                <p id="r_likes_count_{{comment.pk}}"> {{comment.like_users.all|length}} </p>        
              </div>
              <div class="form--wrap--flex">
                <form class="comment_dislike_forms" id="dislike-form-{{comment.pk}}" data-article-id="{{article.pk}}" data-comment-id="{{comment.pk}}">
                  {% csrf_token %}
                    <button type="submit" id='dislike-{{ comment.pk }}' {% if request.user in comment.like_users.all %} disabled {% endif %} >
                    <i class="bi bi-hand-thumbs-down-fill warning--color"></i>
                  </button>
                </form>
                <p id="dislikes_count_{{comment.pk}}"> {{ comment.dislike_user.all|length }} </p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div>
        <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
          {% csrf_token %}
          <div class="comment--create--form">
            <p>{{ comment_form.content }}</p>
            <button type="submit" class="comment--create--button">등록</button>
          </div>
        </form>
        {% comment %} <form class="comment-form" id="comment_form">
        {% csrf_token %}
        <div class="input-group mb-3">
          {{ comment_form.content }}
          <button id="comment-submit" type="submit" class="btn btn-outline-warning">댓글 작성</button>
        </div>
        </form> {% endcomment %}
      </div>
    </div>
  </section>
</article>
{% endblock content %}


{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/articles-detail.js' %}"></script>
{% endblock javascript %}
