{% extends "base.html" %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'style/articles/index.css' %}">
<link rel="stylesheet" href="{% static 'style/articles/common.css' %}">
{% endblock header %}

{% block content %}
<article class="main--article--container">
  <div class="article--title--wrap">
    <h3 class="article--title">
      <a href="{% url 'articles:index' %}">Community</a>
    </h3>
    <a class="article--list" href="{% url 'articles:tag_cloud' %}">Tag Cloud</a> 
  </div>
  <div class="card--style--wrap">
    <div class='d-flex justify-content-between my-1'>
      <form  method='GET' class='main--form--wrap'>
        <select name='order' class="form-select me-2">
          <option value="1">최신글</option>
          <option value="2">인기글</option>
          <option value="3">많이본 글</option>
        </select>
        <input type="submit" value='정렬' class="btn btn-secondary btn-sm">
      </form>
      <a type="button" class="btn btn-success" href="{% url 'articles:create' %}">글 생성</a>
    </div>
  
  
    <table class="article--table table table-hover">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">제목</th>
          <th scope="col">글쓴이</th>
          <th scope="col">작성시간</th>
          <th scope="col">조회수</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for article in articles %}
        <tr>
          <th scope="row">{{ article.pk }}</th>
          <td>
            <a href="{% url 'articles:detail' article.pk %}">
              {{ article.title }}({{ article.articlecomment_set.all|length }})
            </a>
          </td>
          <td>
            <a href="{% url 'accounts:profile' article.user %}">
            <span class="profile--image--wrap">
            {% if article.user.profile_image %}
            <img class="profile--image" src="{{ article.user.profile_image.url }}" alt="profile-image">
            {% else %}
            <img class="profile--image" src="{% static 'img/cat_01.png' %}" alt="profile">
            {% endif %}    
            </span>
            {{ article.user }}</a>
          </td>
          <td>{{ article.created_at }}</td>
          <td>{{ article.views.all|length }}</td>
        </tr>
    
      {% comment %} <form id="myForm" action="{% url 'articles:detail' article.pk %}" method='POST'>
        {% csrf_token %}
        <a href="{% url 'articles:detail' article.pk %}" id="submitForm">{{ article.title }}</a> 
      </form> {% endcomment %}
    {% endfor %}
    </tbody>
    </table>

    
  </div>
</article>



{% endblock content %}

{% block javascript %}
  <script>
    const submitFormBtn = document.getElementById("submitForm");
    const myForm = document.getElementById("myForm");
    
    submitFormBtn.addEventListener("click", (event) => {
      event.preventDefault(); // 이벤트 전파 중지
      myForm.submit(); // 폼 제출
    });
  </script>
{% endblock javascript %}