
body {
  font-family: 'NanumSquareAcb';
    display: grid;
    grid-template-rows: auto auto minmax(0, 1fr) auto auto auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "header header header header header header"
    ". main main main main ."
    ". main main main main ."
    ". main main main main ."
    ". main main main main ."
    ". main main main main ."
    "footer footer footer footer footer footer"
}
header.item {
  grid-area: header;
}
main.item {
  grid-area: main;
}

footer.item {
  grid-area: footer;
  background-color: rgb(240, 240, 240, .9);
  box-shadow: 0px -2px 5px 2px rgba(204,204,204, .5);
}

/*  header  */
.header--container {
  padding: 1rem 0;
  background-color: rgb(240, 240, 240, .9);
  box-shadow: 2px 2px 5px 2px rgba(204,204,204, .5);
}
.header--wrap{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: 
    " . header-left header-left . . header-right header-right ."
  ;
  height: auto;
}

.header--left--wrap {
  grid-area: header-left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;

}

.header--logo--image{
  width: 160px;
}

.header--nav--flex{
  display: flex;
}

.header--nav li {
  width: 80px;
  height: 26px;
}


.header--right--wrap {
  grid-area: header-right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.header--left--wrap{
  text-align:center;
}
.header--login--wrap {
  display: flex;
  align-items: flex-end;
  margin-top: 1.2rem;
}

.header--login {
  height: 26px;
  margin-right: 1rem;
  
}

.header--search--form--wrap {
  margin-top: 0.5rem;
}
.search--form{
  display: flex;
}
.search--input{
  width: 15rem;
  margin-right: 0.2rem;
}

.sm--header--user--hello{
  display: none;
  /* color: #000;
  background-color: #fff; */
}
.sm--hader-container {
  display: none;
  z-index: 1;
}
@media screen and (min-width: 1350px) {
  .header--left--wrap{
    text-align: left;
  }
}

@media screen and (max-width: 1350px) {
  .header--sm--grid--wrap{
    display: grid; 
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: 
      " . header-md header-md header-md header-md header-md header-md ."
    ;
  }
  .header--wrap {
    grid-area: header-md;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    height: 100%;
  }
  .header--nav--wrap{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }
  .header--right--wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
  
  .header--login {
    margin-left: 2rem;
  }
}

@media all and (max-width:850px) {
  .header--right--wrap {
    display:none;
  }
  .header--nav--wrap {
    display: none;
  }
  .sm--header--user--hello{
    display: block;  
    height: 26px;
    margin-top: 1rem;
  }
  .sm--hader-container {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    background-color:  rgb(25, 135, 84, .9);
    box-shadow: -2px -2px 5px 2px rgba(204,204,204, .9);
    padding: 2rem 1.5rem;
  }
  .sm--header--search--wrap {
    margin: 0 1rem;
  }
  .sm--search--form{
    margin-bottom: 1rem;
  }
  .sm-search--input {
    margin-right: 0.2rem;
  }
  .sm--nav--menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .sm--nav--menu li {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  .sm--nav--menu i{
    font-size: 30px;
    color: white;
  }
  .sm--nav--menu span{
    font-size: 12px;
  }
  .sm--nav--logout{
    color: white;

  }
  .sm--nav__icon--wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sm--header--user--hello {
    width: 100%;
    text-align: center;
  }
}
/* aside */
.aside--container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
}
.aside--top--wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 40px;
  text-align: center;
  color: #198754;
  border: 3px solid #198754;
  border-radius: 100%;
  transform: rotate(90deg);
  z-index: 99;
}
.aside--top--wrap:hover {
  transform: rotate(0deg);
}
@media all and (max-width:850px) {
.aside--container{
  bottom: 14rem;
  right: 1rem;
}
.aside--top--wrap {
  width: 45px;
  height: 45px;
  font-size: 30px;
}
  
}
/*  main */
.main-padding {
  padding: 180px 0 50px 0;
}
@media screen and (max-width: 1350px) {
  
  .main-padding {
    padding-top: 235px;
  }
}
@media screen and (max-width: 850px) {

  .main-padding {
    padding-top: 135px;
  }
}
/*  footer  */
.footer--container{
  padding: 2rem 0;
}
.footer--title{
  text-align: center;
  margin-bottom: 1rem;
}
.footer--wrap{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: 
    " . footer footer footer footer footer footer ."
  ;
  height: auto;
}
.footer--section--wrap{
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer--user--area{
  display: flex;
  justify-content: center;
}
.footer--section h5 {
  margin: 0.2rem 0.5rem 0 0;
}
.footer--section a {
  text-decoration: underline;
  margin-bottom: 0.2rem;
}
.footer--name--area {
  display: flex;

}
.footer--info--area {
  font-size: 0.9rem;
  width: 250px;
}
.footer--copyright {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
@media screen and (max-width: 1350px) {
  .footer--section--wrap {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 850px) {
  .footer--section--wrap {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
  .footer--container{
    margin-bottom: 12rem;
  }
  .footer--copyright {
    margin-top: 0;
  }
}


/* hover */
.nav--btn:hover{
  font-size: 17px;
}