{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
  .box{
    box-sizing: border-box;
    border: 1px solid black;
    margin: 1px 1px 1px 1px
  }

  #container-posts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows; 1fr;
    column-gap: 20px;
    row-gap: 20px;
    background-color: red;
  }

  @media all and (max-width:479px) {
    #container-posts {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      column-gap: 10px;
      row-gap: 10px;
      background-color : yellow;
    }
  }
</style>
<link rel="stylesheet" href="{% static 'style/posts/posts.css' %}">
{% endblock style %}
{% block content %}
<main>
  <div class="article box">
    <section class="box">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.pinimg.com/originals/2b/87/cb/2b87cb68f4f68ec1ed798983442e9fe6.png" class="d-block w-100" alt="광고배너1">
          </div>
          <div class="carousel-item">
            <img src="https://i.pinimg.com/originals/63/b2/ef/63b2efd90ea72fe0cced0e7a70a0bfc1.jpg" class="d-block w-100" alt="광고배너2">
          </div>
          <div class="carousel-item">
            <img src="https://i.pinimg.com/originals/e6/55/86/e6558615dd7bbd84af6d28c9aeeb4bc6.jpg" class="d-block w-100" alt="광고배너3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    {% comment %} <section class="box">
      <div id="container-posts">
        <div class="box post-item">post1</div>
        <div class="box post-item">post2</div>
        <div class="box post-item">post3</div>
        <div class="box post-item">post4</div>
      </div>
    </section> {% endcomment %}
    <section class="box">
      <div id="container-posts">
        {% for post in posts %}
        <div class="post-item">
          <a href="{% url 'posts:detail' post.pk %}" class="card">
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="여행사진" class="card-img-top" />
            {% else %}
            <img
              src="{% static 'img/noimage.jpg' %}"
              alt="이미지없음"
              class="card-img-top noimage-img"
            />
            {% endif %}
            <form action="{% url 'posts:post_likes' post.pk %}" method="POST">
              {% csrf_token %}
              {% if request.user in post.like_posts.all %}
              <input class='like-user' type="submit" value="🤍">
              {% else %}
              <input class='like-user' type="submit" value="❤">
              {% endif %}
            </form>
  
  
            <div class="card-body">
              <div class="card-user">
                <p>
                  {% if post.user.profile_image %}
                  <img
                    class="user-profile"
                    src="{{ post.user.profile_image }}"
                    alt="사용자프로필이미지"
                  />
                  {% else %}
                  <img
                  class="user-profile"
                  src="{% static 'img/user_profile.png' %}"
                  alt="기본프로필이미지"
                  />
                </p>
                  {% endif %}
                <span class="username">{{user}}</span>
              </div>
              <h6 class="card-title">{{ post.title }}</h6>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </section>
    <section class="box">articles</section>
  </div>
</main>
{% endblock content %}
