{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'style/posts/create.css' %}">
<link rel="stylesheet" href="{% static 'style/posts/modal.css' %}">
{% endblock style %}

{% block content %}
<div>
  <div class="position-relative mt-3">
    <div id="map" class="map"></div>
    <button id="modal-button" type="button" class="position-absolute bottom-0 end-0 border-0 z-1 hidden" data-bs-toggle="modal" data-bs-target="#mapModal">
      <i class="bi bi-arrows-angle-expand"></i>
    </button>
  </div>
  
  <form action="{% url 'posts:create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!--rating-->
    <div class="input-group mb-3 mt-3">
      <span class="input-group-text" id="basic-addon1">여행 만족도</span>
      <div class="form-control pt-0">
        <div id="rating">
          <input id="rating-1" type="radio" name="rating" value="1" hidden>
          <label class="rate" for="rating-1">☆</label>
          <input id="rating-2" type="radio" name="rating" value="2" hidden>
          <label class="rate" for="rating-2">☆</label>
          <input id="rating-3" type="radio" name="rating" value="3" hidden>
          <label class="rate" for="rating-3">☆</label>
          <input id="rating-4" type="radio" name="rating" value="4" hidden>
          <label class="rate" for="rating-4">☆</label>
          <input id="rating-5" type="radio" name="rating" value="5" hidden>
          <label class="rate" for="rating-5">☆</label>
        </div>
      </div>
    </div>
    
    {% for field in form %}
      <div class="input-group">
        {% if field.name == 'place' %}
          <input id="place-field" type="text" name="place" aria-label="First name" class="form-control mb-3" placeholder="주소" readonly data-bs-toggle="modal" data-bs-target="#addressList" autocomplete="off">
          <input id="region-field" type="text" name="region" aria-label="Last name" class="form-control mb-3" placeholder="지역" readonly autocomplete="off">
        {% elif field.name == 'region' %}
        {% elif field.name == 'end_date' %}
        {% elif field.name == 'start_date' %}
          {% now "Y-m-d" as today %}
          <input type="date" value="{{ today }}" name="start_date" class="form-control mb-3" placeholder="시작">
          <input type="date" value="{{ today }}" name="end_date" class="form-control mb-3"placeholder="종료">
        {% else %}
          {{ field }}
        {% endif %}
      </div>
    {% endfor %}
    <div class="d-flex gap-3">
      <button class="btn btn-secondary flex-grow-1">취소</button>
      <button class="btn btn-success flex-grow-1">작성 완료</button>
    </div>
    
  </form>


  <div class="modal fade" id="addressList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">주소 검색</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <input class="form-control border rounded-0" type="text" list="address-list" id="place_input" autocomplete="off">
        <div class="map-modal-wrap">
          <div id="map-modal"></div>
        </div>
        <div class="modal-body">
          <ol class="list-group list-group-numbered"></ol>
        </div>
      </div>
    </div>
  </div>

  <div id="my-modal" class="Modal">
    <div class="Modal-content rounded-3">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <span id="modal-place" class="fw-bold"></span>
          <span id="modal-address"></span>
        </div>
        <div class="close">&times;</div>
      </div>
      <div id="modal-content" class="position-relative">
        <button onclick="panTo()" class="position-absolute top-0 end-0 border-0 z-3 fs-3">
          <i class="bi bi-geo-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
  
{% block javascript %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=46fed7723052d8712b267e8a83ab2fa4&libraries=services"></script>
<script src="{% static 'js/place-input.js' %}"></script>
<script src="{% static 'js/map-modal.js' %}"></script>
<script src="{% static 'js/rating.js' %}"></script>
{% endblock javascript %}