{% extends 'base.html' %}
{% load static %}

{% block content %}
  <form action="{% url 'posts:create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div class="input-group">
        {% if field.name == 'place' %}
          {{ field }}
          <button id="address-btn" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            주소
          </button>
        {% else %}
          {{ field }}
        {% endif %}
      </div>
    {% endfor %}
    <input type="submit">
  </form>

  

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" list="address-list" id="place_input" autocomplete="off">
          <ol class="list-group list-group-numbered"></ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block javascript %}
<script src="{% static 'js/place_input.js' %}"></script>
{% endblock javascript %}