{% extends 'base.html' %}
{% load static %}

{% block style %}
{% endblock style %}

{% block content %}
  <form action="{% url 'posts:post_likes' post.pk %}" method="POST">
    {% csrf_token %}
    {% if request.user in post.like_users.all %}
    <input type="submit" value="좋아요 취소">
    {% else %}
    <input type="submit" value="좋아요">
    {% endif %}
  </form>
  {% for i in ""|ljust:post.rating %}
    <span class="star">★</span>
  {% endfor %}

  <div id="map" style="width:500px;height:400px;" data-place="{{ post.place }}"></div>
  
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=46fed7723052d8712b267e8a83ab2fa4&libraries=services"></script>
<script src="{% static 'js/map.js' %}"></script>
{% endblock javascript %}