{% extends 'base.html' %}

{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'style/posts/index.css' %}">
<link rel="stylesheet" href="{% static 'style/posts/modal.css' %}">
<link rel="stylesheet" href="{% static 'style/posts/detail.css' %}">
{% endblock style %}

{% block content %}
  <main>
    <!--이미지-->
    {% for image in post.postimage_set.all %}
      <img src="{{image.image.url}}" alt="img">
    {% endfor %}
    <!--태그-->
    <div class="tag--box--wrap">
      {% load taggit_templatetags2_tags %}
      {% get_tags_for_object post as "tags" %}
      {% if tags %}
        {% for tag in tags %}
          {% if tag.name %}
          <a class="tag--box" href="{% url 'posts:tagged_object_list' tag.name %}">{{tag.name}}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <section class="post-content">
      <div class="mb-5">
        {% if post.image %}
        <img src="{{ post.image.url }}" class="post-img" alt="여행이미지">
        {% else %}
        <img src="{% static 'img/noimage.jpg' %}" class="post-img" alt="이미지없음">
        {% endif %}
      </div>

      <header class="title-text mb-2">{{ post.title }}</header>
      <article class="d-flex text-nowrap">
        <p class="duration">
          <i class="bi bi-clock-history detail-mark-text">{{ post.start_date }} ~ {{ post.end_date }}</i>
        </p>
        <p class="detail-place">
          <i class="bi bi-geo-alt detail-mark-text">{{ post.region }}</i>
        </p>
        <p>
          <i class="bi bi-star-fill"><span class="detail-mark-text">{{ post.rating }}</span></i>
          <form class="like-form" data-post-id="{{ post.pk }}">
            {% csrf_token %}
            {% if request.user in post.like_users.all %}
            <button type="submit" class="bi bi-heart-fill heart-fill-detail" id="like-btn"></button>
            {% else %}
            <button type="submit" class="bi bi-heart heart-detail" id="like-btn"></button>
            {% endif %}
            <span id="like-count" class="detail-mark-tex">{{ post.like_users.all|length }}</span>
          </form>
        </p>
      </article>
      <article>
        <div class="flex-container">
          <div class="content-container">
            <div>{{ post.content|linebreaksbr }}</div>
            </div>
          <div class="user-profile-container">
            <a href="{% url 'accounts:profile' post.user %}">
            <div class="user-info d-flex">
                {% if post.user.profile_image %}
                <img src="{{ post.user.profile_image }}" alt="사용자프로필이미지" />
                {% else %}
                <img src="{% static 'img/user_profile.png' %}" alt="기본프로필이미지" />
                {% endif %}
                <div class="ms-2">
                  <div class='username-text'>{{ post.user }}</div>
                  {% if post.user.mbti %}
                  <div class='userMbit-text'>{{ user_age_range }} {{ post.user.mbti }}</div>
                  {% endif %}
                </div>
              </div>
            </a> 

            {% if request.user != post.user.username %}
              <form class="text-center" id="follow-form" data-user-id="{{ post.user.pk }}">
                {% if request.user in post.user.followers.all %}
                <input type="submit" class="btn btn-success" value="팔로잉" />
                {% else %}
                <input type="submit" class="btn btn-success"  value="팔로워" />
                {% endif %}
              </form>
            {% endif %}
          </div>
        </div>
        
        <hr class="partition-line">
        <div class="position-relative map-detail">
          <div id="map" class="map-detail" data-place="{{ post.place }}"></div>
          <button onclick="panToDetail()" class="position-absolute z-1 fs-3 bg-white rounded-circle pin shadow-lg">
            <i class="bi bi-pin-map-fill"></i>
          </button>
          <button id="modal-button" type="button" class="position-absolute bottom-0 end-0 border-0 z-1" data-bs-toggle="modal" data-bs-target="#mapModal">
            <i class="bi bi-arrows-angle-expand"></i>
          </button>
        </div>
        <div class="map-description d-flex justify-content-between">
          <span class="post-place-text">{{ post.place }}</span>
          <a class="post-place-text" href="https://map.kakao.com/link/to/{{ post.place_id }}" target="_blank">
            <span class="material-symbols-outlined">
              assistant_navigation
            </span>
          </a>
        </div>
      </article>
    </section>
    
    <div class ='content-info'>
      <span>{{ post.updated_at }}</span>
      {% if request.user == post.user %}
        <span class="content-fun"><a href="{% url 'posts:update' post.pk %}">수정</a></span>
        <span class="content-fun"><a onclick="return confirm('게시글을 삭제하시겠습니까?')" href="{% url 'posts:delete' post.pk %}">삭제</a></span>
      {% endif %}
    </div>
      <hr class="partition-line">
    <section class="comments">
      <div class="border-bottom d-flex">
        <span class="mb-3">댓글 {{ comments|length }}</span>
      </div>
      <!-- 댓글 리스트 -->
      <table id="comment-list" class="table">
        <tbody>
          {% for comment in comments %}
            <tr id="comments" {% if request.user == comment.user %}class="bg-body-tertiary"{% endif %}>
              <td class="position-relative">
                <div class="d-flex justify-content-between">
                  <div class="d-flex align-items-start gap-2">
                    <!-- 프로필 사진 -->
                    <div class="border rounded-circle position-relative mt-1 profile-img-sm">
                      {% if comment.user.image %}
                      <a href="{% url 'accounts:profile' comment.user.username %}">
                        <img src="{{ comment.user.image.url }}" alt="{{ comment.user }}" class="rounded-circle profile-img-sm">
                      </a>
                      {% else %}
                      <a href="{% url 'accounts:profile' comment.user.username %}">
                        <div class="position-absolute top-50 start-50 translate-middle">
                          <img src="{% static 'img/user_profile.png' %}" class="profile-img-sm" alt="기본프로필이미지" />
                        </div>
                      </a>
                      {% endif %}
                    </div>
                    <!-- 작성자 / 내용 -->
                    <div>
                      <a href="{% url 'accounts:profile' comment.user.username %}">
                        <span>{{ comment.user }}</span>
                      </a>
                      <p class="m-0">{{ comment.content }}</p>
                      <p class="post-created text-secondary mt-2 mb-0">{{ post.created_at|date:'Y. m. d.  H:i' }}</p>
                    </div>
                  </div>
                  <!-- 삭제 버튼 -->
                  <div class="text-secondary">
                    {% if comment.user == request.user %}
                    <form action="{% url 'posts:comment_delete' post.pk comment.pk %}" method="POST">
                      {% csrf_token %}
                      <button  class="bg-transparent border-0 text-danger comment-delete" type="submit">
                        <div id="comment_delete" class="hidden"><i class="bi bi-x"></i></div>
                      </button>
                    </form>
                    {% endif %}
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
      <form id="comment-form" action="{% url 'posts:comment_create' post.pk  %}" method="POST">
        {% csrf_token %}
        <div id="comment-area" class="border rounded-3 p-3">
          <div class="d-flex justify-content-between">
            <span class="mb-2">{{ user.username }}</span>
            <div class="text-body-tertiary">
              <span id="comment-count"></span>
            </div>
          </div>
          {% for field in comment_form %}
            {{ field }}
          {% endfor %}
          <div class="text-end text-body-tertiary">
            <button id="comment-submit" type="submit" class="border-0 bg-transparent text-body-tertiary">등록</button>
          </div>
        </div>
      </form>
    </section>
  </main>
  <hr class="partition-line">
  <!-- 인접 게시물 -->
  <section>
    <div id="container-posts">
      {% for post in posts %}
      <div class="post-item">
        <a href="{% url 'posts:detail' post.pk %}" class="card">
          <div class="position-relative">
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="여행사진" class="card-img-top" />
            {% else %}
            <img
            src="{% static 'img/noimage.jpg' %}"
            alt="이미지없음"
            class="card-img-top"
            />
            {% endif %}
            <div class="d-flex card-bottom-info card-bottom-hidden">
              <i class="bi bi-star-fill"><span class="mark-text">{{ post.rating }}</span>
              </i>
              <i class="bi bi-chat-dots-fill"><span class="mark-text">{{ post.postcomment_set.count }}</span></i>
            </div>
            <div class="card-top-info-container">
              <div class="d-flex justify-content-between card-top-info mx-1">
                <p class="place px-1">
                  <i class="bi bi-geo-alt">{{ post.region }}</i>
                </p>
                <form class="like-form" data-post-id="{{ post.pk }}">
                  {% csrf_token %}
                  {% if request.user in post.like_users.all %}
                  <button type="submit" class="bi bi-heart-fill" id="like-btn"></button>
                  {% else %}
                  <button type="submit" class="bi bi-heart" id="like-btn"></button>
                  {% endif %}
                </form>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="card-user">
              <p>
                {% if post.user.profile_image %}
                <img
                  class="user-profile"
                  src="{{ post.user.profile_image }}"
                  alt="사용자프로필이미지"
                />
                {% else %}
                <img
                class="user-profile"
                src="{% static 'img/user_profile.png' %}"
                alt="기본프로필이미지"
                />
              </p>
                {% endif %}
              <span class="username">{{post.user}}</span>
            </div>
            <h6 class="card-title">{{ post.title }}</h6>
            <div class="post-date text-truncate">
              {{ post.created_string }}
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </section>

  <div id="my-modal" class="Modal">
    <div class="Modal-content rounded-3">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <span id="modal-place" class="fw-bold">{{ post.place_keyword }}</span>
          <span id="modal-address">{{ post.place }}</span>
        </div>
        <div class="close">&times;</div>
      </div>
      <div id="modal-content" class="position-relative">
        <button onclick="panTo()" class="position-absolute z-3 fs-3 bg-white rounded-circle pin shadow-lg">
          <i class="bi bi-geo-alt-fill"></i>
        </button>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=46fed7723052d8712b267e8a83ab2fa4&libraries=services"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/map-detail.js' %}"></script>
<script src="{% static 'js/comments.js' %}"></script>
<script src="{% static 'js/like.js' %}"></script>
<script src="{% static 'js/follows.js' %}"></script>
<script src="{% static 'js/card-bottom-info.js' %}"></script>
{% endblock javascript %}