{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'style/posts/create.css' %}">
<link rel="stylesheet" href="{% static 'style/posts/modal.css' %}">
{% endblock style %}

{% block content %}
  <div class="position-relative">
    <div id="map" class="map rounded-3"></div>
    <button id="modal-button" type="button" class="position-absolute bottom-0 end-0 border-0 z-1 hidden rounded-3" data-bs-toggle="modal" data-bs-target="#mapModal">
      <i class="bi bi-arrows-angle-expand"></i>
    </button>
  </div>
  
  <form action="{% url 'posts:update' post.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-group mb-3 mt-3">
      <span class="input-group-text" id="basic-addon1">여행 만족도</span>
      <div class="form-control">
        <div class="rate">
          <input type="radio" id="star5" name="rating" value="5"/>
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" name="rating" value="4"/>
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" name="rating" value="3"/>
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" name="rating" value="2"/>
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" name="rating" value="1"/>
          <label for="star1" title="text">1 star</label>
        </div>
      </div>
    </div>
    
    
    {% for field in form %}
      <div class="input-group">
        {% if field.name == 'place' %}
          <input id="place-field" type="text" value="{{ post.place }}" name="place" aria-label="First name" class="form-control mb-3" placeholder="주소" readonly data-bs-toggle="modal" data-bs-target="#addressList" autocomplete="off">
          <input id="region-field" type="text" value="{{ post.region }}" name="region" aria-label="Last name" class="form-control mb-3" placeholder="지역" readonly autocomplete="off">
        {% elif field.name == 'region' %}
        {% elif field.name == 'end_date' %}
        {% elif field.name == 'rating' %}
        {% elif field.name == 'start_date' %}
          {% now "Y-m-d" as today %}
          <input type="date" value="{{ post.start_date }}" name="start_date" class="form-control mb-3" placeholder="시작">
          <input type="date" value="{{ post.end_date }}" name="end_date" class="form-control mb-3"placeholder="종료">
        {% elif field.name == 'image' %}
          {% if post.image %}
          <div class="input-group">
            <span class="input-group-text mb-3">현재 파일</span>
            <div class="input-group-text mb-3">
              <a class="flex-grow-1 text-truncate" href="{{ post.image.url }}">
                <img style="width: 40px" href="{{ post.image.url }}" src="{{ post.image.url }}" alt="">
              </a>
              <input class="ms-3 form-check-input" type="checkbox" name="image-clear" id="image-clear_id">
              <span class="ms-3">취소</span>
            </div>
          </div>
          {% endif %}
          <input type="file" name="image" class="form-control rounded-2 mb-3" accept="image/*" id="id_image">
        {% else %}
          {{ field }}
        {% endif %}
      </div>
    {% endfor %}
    <div class="d-flex gap-3">
      <button class="btn btn-secondary flex-grow-1">취소</button>
      <button class="btn btn-success flex-grow-1">수정 완료</button>
    </div>
  </form>

  <div class="modal fade" id="addressList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">주소 검색</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <input class="form-control border rounded-0" type="text" list="address-list" id="place_input" autocomplete="off">
        <div class="map-modal-wrap">
          <div id="map-modal"></div>
        </div>
        <div class="modal-body">
          <ol class="list-group list-group-numbered"></ol>
        </div>
      </div>
    </div>
  </div>

  <div id="my-modal" class="Modal">
    <div class="Modal-content rounded-3">
      <span class="close">&times;</span>
      <p></p>
    </div>
  </div>

{% endblock content %}
  
{% block javascript %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=46fed7723052d8712b267e8a83ab2fa4&libraries=services"></script>
<script src="{% static 'js/place_input.js' %}"></script>
<script src="{% static 'js/mapModal.js' %}"></script>
{% endblock javascript %}